/* global variables */
:root {
    --bkgd: #161821;
    --accent-1: #2F3347;
    --accent-2: #3F445E;
    --default-text: #86889E;
    --hover-text: #D9D9D9;
    --accent-text: #ABC4D0;
    --error-text: #AE4545;
}

/* global element css */
html, body {
	overflow: hidden;
	background-color: var(--bkgd);
	font-family: "IBM Plex Mono", monospace;
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;
}

p {
    margin: 0px;
}