.input-container {
    display: flex;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: center;
    gap: 5px;
    line-height: 1;
    border: 1px solid var(--default-text);
    color: var(--default-text);
    padding: 5px;
    padding-left: 10px;
    width: 100%;
}

.input-container:focus-within {
    border: 2px solid white;
}

.input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--default-text);
    font-size: 20px;
    font-family: inherit;
}

.input::placeholder{
    color: var(--default-text);
    opacity: 50%;
}