:root {
    --bg-color: #5C5C5C;
    --input-box-color: #D9D9D9;
    --input-box-border-color: #878181;
    --input-error-border-color: #CD4D4D;
    --button-box-color: #7A98A6;
    --button-box-border-color: #2F4550;
}